
<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>10:00</td>  <td> <a href="https://nesclic.github.io/spreadsheets-socsci-update/">Data organization in spreadsheets</a></td></tr>
      <tr> <td>11:00</td>  <td>Break - 10 minutes</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break - 60 minutes</td> </tr>
      <tr> <td>13:00</td>  <td><a href = "https://datacarpentry.org/r-socialsci/">R for Social Scientists (1-9)</a></td> </tr>
      <tr> <td>14:30</td>  <td>Break - 15 minutes</td> </tr>      
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td><a href="https://datacarpentry.org/openrefine-socialsci/">OpenRefine for data cleaning</a></td></tr>
      <tr> <td>11:00</td>  <td>Break - 10 minutes</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break - 60 minutes</td> </tr>
      <tr> <td>13:00</td>  <td><a href = "https://datacarpentry.org/r-socialsci/">R for Social Scientists (11-20)</a></td> </tr>
      <tr> <td>14:30</td>  <td>Break - 15 minutes</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:05</td>  <td><a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:10</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
