<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-SocSciSpreadsheets">Spreadsheets for Social Scientists</h3>
    <ul>
      <li>Data Organization Basics</li>
	  <li>Metadata</li>
      <li>File and Column Naming Tips</li>
      <li>Excel Shortcuts</li>
      <li>Dates as Data</li>
	  <li>Managing Data Quality</li>
	  <li>Exporting Data</li>
      <li><a href="https://datacarpentry.org/spreadsheets-socialsci/reference/">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-SocSciOpenRefine">Spreadsheets for Social Scientists</h3>
    <ul>
      <li>Importing into OpenRefine</li>
	  <li>Facets and Clusters</li>
	  <li>Filtering and Sorting</li>
      <li>Transforms and the History Tab</li>
      <li>Saving Scripts</li>
      <li>Exporting Data</li>
	  <li>Other Resources</li>
      <li><a href="https://datacarpentry.org/openrefine-socialsci/reference/">Reference...</a></li>
    </ul>
  </div>  
 
  <div class="col-md-6">
    <h3 id="syllabus-SocSciR">R for Social Scientists</h3>
    <ul>
      <li>Use RStudio and <code>install.packages()</code></li>
	  <li>Access data using <code>[]</code>, <code>[low:high]</code>...</li>
      <li>Use dplyr to <code>select()</code>, <code>filter()</code>...</li>
      <li>Use tidyr to <code>gather()</code>, <code>spread()</code>...</li>
      <li>Create Plots in ggplot</li>
      <li><a href="https://datacarpentry.org/r-socialsci/reference.html">Reference...</a></li>
    </ul>
  </div>
</div>
